@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('img/background.jpg');
    font-family: 'Playpen Sans', cursive;
    line-height: 1.8;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

header,
footer {
    text-align: center;
}

#heading-primary,
.heading-secondary {
    font-size: 44px;
}

a:link,
a:visited {
    color: #aa7d7a;
}

.btn {
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    font-family: inherit;
    padding: 15px 20px;
    font-size: 18px;
    background-color: #75474a;
    color: #fff;
}

.btn:link,
.btn:visited {
    color: #fff;
}

.recipe {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

.recipe-header {
    text-align: center;
}

.recipe-image {
    border: 5px solid #75474a;
    max-width: 600px;
    width: 100%;
}

.recipe-description {
    text-align: justify;
}

.recipe-ingredients {
    background-color: #f3eeea;
    padding: 10px;
    border-radius: 5px;
}

.highlight {
    font-weight: bold;
    color: #75474a;
}

.back-to-top {
    text-align: right;
}